extend layout
block content
    header
        div(class='header-text')
            div(class='title').
                R.E.S.P.E.C.T. ABOUT
            nav
                ul
                    li
                        a(href='')
            //- div(class='subtitle').
            //-     (Resnik Evaluation of Sanitation and Personal Exploitation of Communal Things)
