extend layout
block content
    header
        div(class='header-text')
            div(class='title')
                a(href='/').
                    R.E.S.P.E.C.T.
            nav
                ul
                    li
                        a(href='about').
                            about
                    li
                        a(href='initiatives').
                            initiatives
                    li
                        a(href='calendar').
                            calendar
                    li
                        a(href='gallery').
                            gallery
            //- div(class='subtitle').
            //-     (Resnik Evaluation of Sanitation and Personal Exploitation of Communal Things)
