extend layout
block content
    div(class='main-content', class='stovetop')
        div(class='center-text')
            div(class='main-text').
                NO
            div(class='sub-text')
                a(href='/initiatives#spring-cleaning').
                    [Operation: Spring Cleaning]
        //- img(src='/images/stovetop.jpg')
        //- div(class='subtitle').
        //-     (Resnik Evaluation of Sanitation and Personal Exploitation of Communal Things)
