extend layout
block content
    div(class='main-content')
        section(class='panel')
            div(class='panel-section', id='spring-cleaning')
                div(class='title') Operation: Spring Cleaning
                div(class='content')
                    |This initiative will focus on improving the conditions of Resnik's 2nd and 3rd floor kitchens.
                    img(src='/images/samples.jpg')
