extend layout
block content
    div(class='main-content')
        section(class='panel')
            div(class='panel-section', id='spring-cleaning')
                div(class='title') Operation: Spring Cleaning
                div(class='content')
                    p
                        |This initiative will be comprised of a number of sub-initiatives that focus on improving the conditions of Resnik's communal kitchens. For the first sub-initiative, R.E.S.P.E.C.T. will curate kitchen artifacts - leftover food, spillage, stains, waste, etc. - from the Resnik 3rd floor kitchen and put them on display in a public showcase in the kitchen setting itself. All residents are invited to participate by both attending the gallery opening and contributing to the curated collection. There will be an open call for submissions where people may notify us via email of when they make a mess in the kitchen; we will then curate from their waste.
                    p
                        |We hope that staging a serious kitchen gallery show will (ironically) be a playful and humorous way to draw attention to something as seemingly trivial as cleaning up after one's messes in the kitchen. It is a lack of care that usually goes unnoticed by the one doing it, but can be totally frustrating to the ones affected by it, namely everyone else in the community. In exaggerated detail, we are going to show people all of the filth that they carelessly generate, and hopefully through doing this it is not a sense of meanness or accusation that we convey, but simply a greater awareness and a real motive to change one's behavior.
                    p
                        |Photos of the collection and the gallery opening will be documented
                        | <a href='/gallery'>here</a>.
                    img(src='/images/flyer1.png', class='col-2')
                    img(src='/images/flyer2.png', class='col-2')
                    //- img(src='/images/samples.jpg')
